.formFieldset {
    display: inline-block;
    border-radius: 0.5em;
    text-align: left;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.alignRight {
    text-align: right;
}

.formRow {
    display: block;
    padding: 1em;
}

.carSubmitDiv {
/*    background-color: antiquewhite; */
    min-width: 300px;
    border-radius: 0.5em;
}

.loadingIcon {
    color: black;
    text-align: center;
}

.message {
    text-align: center;
    font-size: 1,2em;
    padding: 0.5em;
    margin-top: 0.5em;
}