fieldset {
    display: inline-block;
    border: solid 2px black;
    border-radius: 5px;
}

legend {
    border: solid 2px black;
    border-radius: 3px;
}

table {
    display: inline-block;
    border: solid 1px black;
    border-radius: 5px;
    padding: 1em;
}

tr:hover {
    background-color: beige;
}

th {
    border-right: solid 1px black;
    padding: 1em;
}

td {
    border-top: solid 1px black;
    padding: 1em;
}
